# Output files
*.deb
*.o
*.rpm
*.so
/build

# Intermediate files
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
install_manifest.txt
_CPack_Packages/
CMakeFiles/

# Local files
/dist
*~*
*.swp
*.swo
.clang_complete
GPATH
GRTAGS
GSYMS
GTAGS
tags
\#*
.\#*

# Vagrant files
/vagrant/build/.vagrant
/vagrant/build/*.log
